/* Declare Tufte Serif Fonts */

@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* Variable overrides */
:root {

  /* Use serif fonts */
  --font-family-prose: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  --font-family-heading: var(--font-family-prose);
  --font-family-code: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --side-note-number-font-family: et-book-roman-old-style, Palatino, Georgia, serif;

  /* Make some fonts a tad larger */
  --nav-toc-font-size: 1em;
  --nav-toc-code-font-size: .8em;
  --side-note-font-size: .9em;
  --side-note-code-font-size: .8em;

  /* show side-note markers inline instead of as a superscript */
  --side-note-sup-offset: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Make dark mode a tad more contrasty, but keep off-white */
    --background-color: black;
    --color-text: hsl(36, 24%, 95%);
  }
}


/* Metadata */

.metadata {
  display: flex;
  flex-flow: row;
  gap: 3em;
}

.metadata>* {
  /* flex-basis: 50%; */
  display: flex;
  flex-flow: column;
  gap: .25em;
}

.metadata .label {
  font-size: .75em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}

.subtitle {
  font-style: italic;
}


/* Table of Contents */

#toc-heading {
  width: 100%;
  font-style: italic;
  /* border-bottom: 1px solid var(--color-border); */
  margin-bottom: .5em;
}

nav#TOC #toc-container > ul {
  margin-left: 0;
}

nav#TOC a:target {
  color: var(--color-text);
}

/* Collapsed styles */
@media screen and (max-width: calc(745px + 2 *(52px + 206px + 52px) - 2px)) {

  nav#TOC > #toc-container {
    display: none;
  }

  nav#TOC > input:checked + #toc-container {
    display: block;
  }
  
  nav#TOC {
    z-index: 1000;
    position: fixed;
    margin: 0;
    padding: .5em;
    top: 0;
    width: max-content;
    background-color: var(--background-color);
    border: 1px solid var(--color-border);
  }

  nav#TOC label {
    height: 32px;
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
  }

  /* styles from theme.css which are usually only applied on wider viewports */

  #toc-container {
    margin: 1em 6px;
  }

  nav#TOC li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  nav#TOC code {
    font-size: var(--nav-toc-code-font-size);
  }

  nav#TOC code,
  nav#TOC a,
  nav#TOD a:link,
  nav#TOD a:visited {
    color: var(--color-text-secondary);
  }

  nav#TOC a:hover,
  nav#TOC a:hover code {
    text-decoration: none;
    color: var(--color-link);
  }
}

/* Active TOC */

nav#TOC a.active {
  color: var(--color-text);
}

nav#TOC a.active::after {
  content: "☜";
  position: relative;
  top: .125em;
  margin-left: .5em;
}